@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sacramento&family=Caveat&family=Sriracha&family=Yantramanav&family=Lexend+Mega&display=swap');

/* body{
  background-color: #d3ced2;
} */

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: white;
}

.navbar-brand{
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  color: #7f4039 !important;
}

.bg-nav{
  background-color: rgba(200, 170, 159, 0.6);
}

.searchbar{
  margin-left: 72%;
}

/* input{
  display: none;
} */

.form-search{
  border-radius: 20px;
}

.search {
  background-color: #b07f60;
  padding: 10px 26px 10px 12px;
  margin-right: 30px;
  margin-left: -38px;
  border-radius: 20px;
  color: rgba(200, 170, 159, 0.6);
}

.form-control{
  border-radius: 20px;
  display: block;
}

.fa-opencart{
  color: #7f4039;
}

.fa-opencart:hover{
  color: white;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 86px;
  left: 0;
  background-color: #823f37;
  padding-top: 20px;
}

.img-circle{
  border: 2px solid #7f4039;
  z-index: 1;
  width: 3%;
  border-radius: 20px;
  margin-right: -20px;
}

.fa-caret-down{
  color: #7f4039;
  margin-right: 10px;
}

.cat{
  font-family: 'Lexend Mega', sans-serif;
  text-align: center;
  color: white;
  padding-bottom: 10px;
}

.divider{
  border-top: 1px solid rgba(223, 204, 197, 0.3);
  padding-bottom: 15px;
}

.dropdown{
  font-family: 'Yantramanav', sans-serif;
  margin-left: 10px;
  margin-bottom: 10px;
}

.dropbtn {
  margin-bottom: 20px !important;
  color: white;
  padding: 16px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #823f37;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  margin-left: 20px;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover, .dropbtn:hover{
  color: #dfccc5
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main{
  width: 250px;
  margin-left: 21%;
}