@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Josefin+Sans&family=Lexend+Mega&display=swap');

body{
  overflow-x: hidden;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: rgba(255,255,255,0.5);
}

nav{
  position: sticky !important;
}

.navbar-brand{
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  color: #7f4039 !important;
  position: sticky;
}

.bg-nav{
  background-color: rgba(200, 170, 159, 0.6);
}

.sidenav {
  height: 100%;
  width: 270px;
  position: fixed;
  top: 86px;
  left: 0;
  background-color: #823f37;
  padding-top: 20px;
}

.img-circle{
  border: 2px solid #7f4039;
  z-index: 1;
  width: 3%;
  border-radius: 20px;
  margin-right: -77%;
}

.fa-caret-down{
  color: #7f4039;
  margin-right: 10px;
}

.dropdown-menu{
  top: 139% !important;
  left: -136px !important;
}

.dropdown-item{
  padding-left: 15px;
  padding-bottom: 10px;
}

.dropdown-menu a:hover{
  color: #48402c !important;
}

.fa-user{
  color: #7f4039;
}

.fa-caret-right{
  color: #7f4039;
}

.item-desc{
  padding-left: 6px;
  font-family: 'Josefin Sans', sans-serif;
  color: #7f4039;
}

.dropdown-user{
  border: none;
  background-color: transparent;
}

.cat{
  font-family: 'Lexend Mega', sans-serif;
  text-align: center;
  color: white;
  padding-bottom: 10px;
}

.divider{
  border-top: 1px solid rgba(223, 204, 197, 0.3);
  padding-bottom: 15px;
}

.user-divider{
  border-top: 1px solid rgba(223, 204, 197, 0.3);
  padding-bottom: 8px;
}

.sidebar-heading{
  margin-left: 18px;
  color: rgba(255,255,255,0.5);
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
}

.sidebar-divider{
  margin-top: 5px;
  margin-bottom: 15px;
}

.submenu{
  margin-left: 19px;
  margin-bottom: 15px;
  font-family: 'Josefin Sans', sans-serif;
}

.main{
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 21%;
  position: relative;
}

h4{
  margin-top: 20px;
  color: #7f4039;
}

h6{
  margin-left: 12px;
  margin-bottom: -3px;
}

.btn-menu{
  color: #48402c;
}

table{
  color: #7f4039 !important;
}

.badge {
  padding: 5px;
}

.badge-edit{
  background-color: #7f4039;
}

.badge-delete{
  background-color: #48402c;
}

.pagination{
  margin: 20px 50px 0 0 ;
  color: #823f37;
}

.pagination a {
  color: black;
}

.col-md-3 img{
  margin-left: -13px;
  margin-top: 8px;
}