@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sacramento&family=Caveat&family=Sriracha&family=Yantramanav&family=Lexend+Mega&display=swap');

body{
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: white;
}

.navbar-brand{
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  color: #7f4039 !important;
}

.bg-nav{
  background-color: rgba(200, 170, 159, 0.6);
}

.searchbar{
  margin-left: 72%;
}

/* input{
  display: none;
} */

.form-search{
  border-radius: 20px;
}

.search {
  background-color: #b07f60;
  padding: 10px 26px 10px 12px;
  margin-right: 30px;
  margin-left: -38px;
  border-radius: 20px;
  color: rgba(200, 170, 159, 0.6);
}

.form-control{
  border-radius: 20px;
  display: block;
}

.fa-opencart{
  color: #7f4039;
}

.fa-opencart:hover{
  color: white;
}

.sidenav {
	height: 100%;
	width: 258px;
	position: fixed;
	top: 0px;
	left: 0;
	background-color: #823f37;
	padding-top: 95px;

}

.img-circle{
  border: 2px solid #7f4039;
  z-index: 1;
  width: 3%;
  border-radius: 20px;
  margin-right: -20px;
}

.fa-caret-down{
  color: #7f4039;
  margin-right: 10px;
}

.cat{
  font-family: 'Lexend Mega', sans-serif;
  text-align: center;
  color: white;
  padding-bottom: 10px;
}

.divider{
  border-top: 1px solid rgba(223, 204, 197, 0.3);
  padding-bottom: 15px;
}

.dropdown{
  font-family: 'Yantramanav', sans-serif;
  margin-left: 10px;
  margin-bottom: 10px;
}

.dropbtn {
  margin-bottom: 20px !important;
  color: white;
  padding: 16px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #823f37;
  min-width: 160px;
  z-index: 1;
  padding: 0;
}

.dropdown-content a {
  margin-left: 30px;
  color: white;
  padding-bottom: 3px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover, .dropbtn:hover{
  color: #dfccc5
}

.dropdown:hover .dropdown-content {
  display: block;
}

.main{
  width: 100%;
  position: relative;
  margin-left: 21%;
}

h2{
  padding-top: 18px;
  color: #823f37;
  font-family: 'Great Vibes', cursive;
}

.titleBorder{
  border: 1px solid #823f37;
  margin-left: 11%;
  margin-top: -29px;
}

.products a{
  font-weight: 500; 
  color: #4B412E;
}

.products img{
  width: 35%;
  margin-top: 50px;
}

.product-name{
  font-size: 12px;
  width: 120px;
  margin-bottom: 5px;
}

.product-rating{
  font-size: 12px;
  margin-left: -3px;
}

.product-price{
  font-size: 20px;
}

.btn-user {
  border: none !important;
  background-color: transparent !important;
}

.dropdown-menu.show {
	display: block;
	margin-left: 86%;
	font-family: 'Yantramanav', sans-serif;
}

.product-img {
  width: 75%;
  margin-top: 40px;
}

.product-detail h1{
  color: #823f37;
  margin-left: -180px;
  margin-top: 60px;
}

.desc-product {
  font-size: 17px;
  margin-left: -179px;
  width: 82%;
  text-align: justify;
  margin-top: 20px;
  color: #460a16;
}

.rating-product{
  font-size: 17px;
  margin-left: -179px;
  color: #460a16;
  font-weight: bold;
  margin-top: -10px;
}

.price-product {
	font-size: 25px;
	margin-left: -179px;
	color: #460a16;
	font-weight: bold;
}

.btn-cart {
  background-color: transparent;
  border: 2px solid #823f37;
  margin-left: -179px;
}

.btn-cart:hover {
  background-color: #823f37;
  color: white;
}

.message-cart {
  margin-top: 5px;
  width: 77%;
}

.img-cart {
  width: 100%;
}

.border-check,
.border-img,
.border-desc,
.border-qty,
.border-delete {
  border: 2px solid #823f37;
}

.border-qty {
  text-align: center;
}

.border-qty h5 {
  margin-top: 10px;
}

.border-delete a {
  color: red !important;
  font-size: 17px;
  padding-top: 32px !important;
}

.cart-items {
  margin-left: 50px;
}

.footer {
  position: fixed;
  left: 273px;
  bottom: 0;
  width: 82%;
  color: white;
  text-align: center;
}

.border-footer1 {
  border: 2px solid #823f37;
  border-right: none;
}

.border-footer1 h4 {
  color: #823f37 !important;
  margin: 10px 0 10px -50%;
}

.border-footer2 {
  color: #823f37;
  font-size: 20px;
  border: 2px solid #823f37;
  border-left: none;
  padding-top: 10px;
}

.border-footer3 {
  border: 2px solid #823f37;
  text-align: center;
  padding-top: 10px;
}

.border-footer3 a {
  font-size: 20px;
  font-weight: bold;
  color: #823f37;
}
