@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Montserrat+Alternates&family=Courgette&display=swap');

body {
	background-image: url('../img/bgRegister.jpg');
	background-size: cover;
	font-family: 'Courgette', cursive;
}

.container {
	background-color: rgba(255, 255, 255, 0.5);
	margin-top: 6%;
  width: 40%;
  border-radius: 5px;
}

h1 {
	text-align: center;
	padding: 20px 0 20px 0;
	color: #4f4532;
}

form {
	width: 75%;
	margin-left: 12%;
}

#basic-addon1 {
	background-color: #c3a08c;
}

.last {
	padding-bottom: 20px;
}


.btn {
	border: 2px solid #675a47;
	margin: 5px 148px;
	color: #675a47;
}

.btn:hover {
	background-color: #675a47;
	color: #c6b0ac;
}

.p {
	text-align: center;
	color: #4f4532;
	padding: 5px 0 25px 0;
}

span a {
	color: #c1967e;
}

a:hover {
	text-decoration: none;
	color: #544b3a;
}
