@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Montserrat+Alternates&family=Courgette&display=swap');

body {
	background-image: url('../img/bgLogin.jpg');
	background-size: cover;
	font-family: 'Courgette', cursive;
}

.container {
	background-color: rgba(255, 255, 255, 0.4);
	margin-top: 9%;
	width: 28%;
	border-radius: 5px;
}

h1 {
	text-align: center;
	padding: 20px 0 20px 0;
	color: #4f4532;
}

form {
	width: 75%;
	margin-left: 12%;
}

#basic-addon1 {
	background-color: #c3a08c;
}

.last {
	padding-bottom: 20px;
}

.btn {
	border: 2px solid #675a47;
	margin: 6px 88px;
	color: #675a47;
	width: 32%;


}

.btn:hover {
	background-color: #675a47;
	color: #c6b0ac;
}

p {
	text-align: center;
	color: #4f4532;
	padding: 0 0 20px 0;
	font-size: 13px;
}

span a {
	color: #c1967e;
}

a:hover {
	text-decoration: none;
	color: #544b3a;
}

.forgotpass{
	color: #c1967e;
	margin-left: 121px;
	font-size: 13px;
}

.btn-reset{
	border: 2px solid #675a47;
	margin: 6px 65px;
	color: #675a47;
	width: 53%;
}

.back{
	color: #675a47;
	margin-left: 134px;
	font-size: 13px;
}

.containerfp{
	background-color: rgba(255, 255, 255, 0.4);
	margin-top: 9%;
	width: 28%;
	border-radius: 5px;
	padding-bottom: 20px;
}

.changepass{
	text-align: center;
	margin-top: -28px;
	margin-bottom: 20px;
}

.changepass span{
	color: #544b3a;
}

.btn-change{
	border: 2px solid #675a47;
	margin: 6px 56px;
	color: #675a47;
	width: 58%;
}